In [1]:
import pandas as pd
import matplotlib as plt
import re
import numpy as np

exit_notes_df = pd.read_excel(r'C:\Users\David Chaniott\Documents\Nashville Software School\python\projects\ddid-cheesecake_factory\data/idea.xlsx', sheet_name = 'Exit Notes')

In [2]:
reopened_df = exit_notes_df[exit_notes_df['Exit Note'].str.contains('reopened', case=False, na=False)].reset_index(drop=True)
reopened_df = reopened_df.drop(columns=['POE', 'DOB', 'Notification Date', 'Initial Eligibility Date'])

In [3]:
reopened_df['reopened_dates'] = reopened_df['Exit Note'].str.findall('Reopened: \d{2}/\d{2}/\d{4}')
reopened_df.head(20)

,Child ID,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,Days from I-IFSP to Exit,Exit Note,reopened_dates
0,473474,2020-05-06,2020-06-23,618 - Part B eligibility not determined,2020-11-04,182,**LEA county on the Transition page and demogr...,[Reopened: 04/06/2020]
1,469243,2019-10-02,2020-03-19,618 - Parent withdraw,2021-02-11,498,02-11-2021 â€“ PWN signed and returned for volun...,[Reopened: 02/05/2021]
2,436339,2019-02-13,2021-01-29,618 - Part B eligibility not determined,2021-04-01,778,04/01/2021- File closed business day prior to ...,[Reopened: 01/11/2019]
3,474102,2020-04-09,2021-03-29,618 - Part B eligibility not determined,2021-05-10,396,05/10/2021 TPC held then parents withdrew from...,[Reopened: 02/28/2020]
4,476958,2020-08-24,2021-02-12,618 - Parent withdraw,2021-05-25,274,05/25/21- parent withdraw Reopened: 08/04/2020...,[Reopened: 08/04/2020]
5,449017,2018-12-12,2021-03-10,618 - Attempts to contact unsuccessful,2021-06-01,902,06/01/2021- File closed after 10-day waiting p...,"[Reopened: 02/07/2020, Reopened: 11/05/2019, R..."
6,468728,2020-02-14,2020-08-12,618 - Part B eligible,2020-08-17,185,08/17/2020- File closed. Child determined Part...,[Reopened: 01/10/2020]
7,469200,2019-11-13,2019-11-13,618 - Attempts to contact unsuccessful,2020-09-22,314,09/22/2020- unable to contact Reopened: 08/26/...,"[Reopened: 08/26/2020, Reopened: 09/23/2019]"
8,477102,2020-04-14,2020-12-09,618 - Parent withdraw,2021-01-20,281,1/20/2021- Parent withdraw from program due to...,[Reopened: 03/10/2020]
9,449847,2019-03-26,2020-09-17,618 - Attempts to contact unsuccessful,2020-10-30,584,10/30/2020- File closed due to child turning 3...,"[Reopened: 09/15/2020, Reopened: 02/12/2019]"
10,465503,2019-09-12,2020-10-22,618 - Part B eligibility not determined,2020-11-23,438,11/23/2020- File closed day prior to child's 3...,[Reopened: 08/01/2019]
11,444906,2019-06-05,2020-11-02,618 - Parent withdraw,2020-11-03,517,11/3/2020- Closed file due to parent withdraw....,[Reopened: 04/25/2019]
12,467228,2019-11-14,2019-11-14,618 - Parent withdraw,2020-12-17,399,12/17/2020- File closed after 10-day waiting p...,"[Reopened: 10/13/2020, Reopened: 11/01/2019]"
13,453185,2019-07-29,2020-12-01,618 - Attempts to contact unsuccessful,2020-12-28,518,12/28/2020- closed file- see CL for notes. Reo...,"[Reopened: 12/01/2020, Reopened: 07/22/2019]"
14,442088,2018-12-10,2021-03-26,618 - Part B eligibility not determined,2021-04-14,856,4/14/2021- Closed file due to child's third bi...,[Reopened: 11/19/2018]
15,472004,2020-02-03,2021-01-14,618 - Part B eligibility not determined,2021-04-04,426,4/5/21 - School has had trouble getting in tou...,[Reopened: 01/06/2020]
16,436626,2018-07-17,2021-03-17,618 - Part B eligibility not determined,2021-04-09,997,4/9/2021- file closed-age three. TPC took plac...,"[Reopened: 10/06/2020, Reopened: 05/28/2019, R..."
17,436627,2018-07-17,2021-03-17,618 - Part B eligibility not determined,2021-04-09,997,4/9/2021- file closed-age three. TPC took plac...,"[Reopened: 10/06/2020, Reopened: 03/07/2019]"
18,437852,2019-09-09,2021-02-18,618 - Not eligible for Part B â€“ Exit with refe...,2021-05-21,620,5/21/2021: Child was not eligible for the LEA ...,"[Reopened: 08/13/2019, Reopened: 08/01/2019]"
19,475485,2020-10-22,2020-10-22,618 - Parent withdraw,2021-05-25,215,5/25/2021- Family declined reopening file. See...,"[Reopened: 05/20/2021, Reopened: 10/06/2020]"

In [4]:
# reopened_df['reopened_dates'].str.split(',', expand = True).head(20)

In [5]:
reopened_df['reopened_dates'] = reopened_df['Exit Note'].str.findall('Reopened: \\d{2}/\\d{2}/\\d{4}')
reopened_df['exit_dates'] = reopened_df['Exit Note'].str.findall('Exit Date: \\d{2}/\\d{2}/\\d{4}')

# Creates two new Dataframes
# <reopen_date_df> & <exit_date_df>
reopen_date_df = reopened_df.reopened_dates.to_frame().astype(str)
exit_date_df = reopened_df.exit_dates.to_frame().astype(str)

#Splits the columns
reopen_date_df = reopen_date_df.reopened_dates.str.split(',', expand=True)
exit_date_df = exit_date_df.exit_dates.str.split(',', expand=True)

# Names the Columns
reopen_date_df.columns = ['reopen1', 'reopen2', 'reopen3', 'reopen4', 'reopen5', 'reopen6']
exit_date_df.columns = ['exit1', 'exit2', 'exit3', 'exit4', 'exit5', 'exit6']

# Creates <cols_r> & <cols_e> then strips text from them
cols_r = ['reopen1', 'reopen2', 'reopen3', 'reopen4', 'reopen5', 'reopen6']
cols_e = ['exit1', 'exit2', 'exit3', 'exit4', 'exit5', 'exit6']
reopen_date_df[cols_r] = reopen_date_df[cols_r].replace({'\[':'', '\]':'', '\'':'', 'Reopened:':''}, regex=True)
exit_date_df[cols_e] = exit_date_df[cols_e].replace({'\[':'', '\]':'', '\'':'', 'Exit Date:':''}, regex=True)

display(reopen_date_df)
display(exit_date_df)

          reopen1 reopen2 reopen3 reopen4 reopen5 reopen6
0      04/06/2020    None    None    None    None    None
1      02/05/2021    None    None    None    None    None
2      01/11/2019    None    None    None    None    None
3      02/28/2020    None    None    None    None    None
4      08/04/2020    None    None    None    None    None
...           ...     ...     ...     ...     ...     ...
1725   07/28/2020    None    None    None    None    None
1726   02/05/2019    None    None    None    None    None
1727   03/05/2020    None    None    None    None    None
1728   10/25/2018    None    None    None    None    None
1729   07/19/2019    None    None    None    None    None

[1730 rows x 6 columns]

            exit1 exit2 exit3 exit4 exit5 exit6
0      11/26/2019  None  None  None  None  None
1      04/07/2020  None  None  None  None  None
2      06/17/2018  None  None  None  None  None
3      12/05/2019  None  None  None  None  None
4      03/09/2020  None  None  None  None  None
...           ...   ...   ...   ...   ...   ...
1725   04/26/2020  None  None  None  None  None
1726   10/23/2018  None  None  None  None  None
1727   09/17/2019  None  None  None  None  None
1728   05/24/2018  None  None  None  None  None
1729   06/25/2019  None  None  None  None  None

[1730 rows x 6 columns]

In [6]:
reopen_date_df = reopen_date_df.astype('datetime64')
exit_date_df = exit_date_df.astype('datetime64')

In [7]:
reopen_date_df.dtypes

reopen1    datetime64[ns]
reopen2    datetime64[ns]
reopen3    datetime64[ns]
reopen4    datetime64[ns]
reopen5    datetime64[ns]
reopen6    datetime64[ns]
dtype: object

In [8]:
reopen_exit_date_df = reopen_date_df.join(exit_date_df)
reopen_exit_date_df.head(20)

,reopen1,reopen2,reopen3,reopen4,reopen5,reopen6,exit1,exit2,exit3,exit4,exit5,exit6
0,2020-04-06,NaT,NaT,NaT,NaT,NaT,2019-11-26,NaT,NaT,NaT,NaT,NaT
1,2021-02-05,NaT,NaT,NaT,NaT,NaT,2020-04-07,NaT,NaT,NaT,NaT,NaT
2,2019-01-11,NaT,NaT,NaT,NaT,NaT,2018-06-17,NaT,NaT,NaT,NaT,NaT
3,2020-02-28,NaT,NaT,NaT,NaT,NaT,2019-12-05,NaT,NaT,NaT,NaT,NaT
4,2020-08-04,NaT,NaT,NaT,NaT,NaT,2020-03-09,NaT,NaT,NaT,NaT,NaT
5,2020-02-07,2019-11-05,2019-07-23,2019-05-28,NaT,NaT,2019-12-10,2019-08-27,2019-05-28,2019-05-28,NaT,NaT
6,2020-01-10,NaT,NaT,NaT,NaT,NaT,2019-09-27,NaT,NaT,NaT,NaT,NaT
7,2020-08-26,2019-09-23,NaT,NaT,NaT,NaT,2020-01-21,2019-09-10,NaT,NaT,NaT,NaT
8,2020-03-10,NaT,NaT,NaT,NaT,NaT,2020-03-06,NaT,NaT,NaT,NaT,NaT
9,2020-09-15,2019-02-12,NaT,NaT,NaT,NaT,2019-07-12,2019-07-12,2018-12-04,NaT,NaT,NaT
10,2019-08-01,NaT,NaT,NaT,NaT,NaT,2019-07-11,NaT,NaT,NaT,NaT,NaT
11,2019-04-25,NaT,NaT,NaT,NaT,NaT,2018-10-26,NaT,NaT,NaT,NaT,NaT
12,2020-10-13,2019-11-01,NaT,NaT,NaT,NaT,2020-08-10,2019-09-12,NaT,NaT,NaT,NaT
13,2020-12-01,2019-07-22,NaT,NaT,NaT,NaT,2020-09-11,2019-01-28,NaT,NaT,NaT,NaT
14,2018-11-19,NaT,NaT,NaT,NaT,NaT,2018-08-27,NaT,NaT,NaT,NaT,NaT
15,2020-01-06,NaT,NaT,NaT,NaT,NaT,2019-11-07,NaT,NaT,NaT,NaT,NaT
16,2020-10-06,2019-05-28,2019-03-07,NaT,NaT,NaT,2019-05-28,2019-05-28,2018-11-29,NaT,NaT,NaT
17,2020-10-06,2019-03-07,NaT,NaT,NaT,NaT,2019-05-28,2018-11-29,NaT,NaT,NaT,NaT
18,2019-08-13,2019-08-01,NaT,NaT,NaT,NaT,2019-08-07,2018-06-25,NaT,NaT,NaT,NaT
19,2021-05-20,2020-10-06,NaT,NaT,NaT,NaT,2021-03-30,2020-01-09,NaT,NaT,NaT,NaT

In [9]:
reopen_exit_date_df.dtypes

reopen1    datetime64[ns]
reopen2    datetime64[ns]
reopen3    datetime64[ns]
reopen4    datetime64[ns]
reopen5    datetime64[ns]
reopen6    datetime64[ns]
exit1      datetime64[ns]
exit2      datetime64[ns]
exit3      datetime64[ns]
exit4      datetime64[ns]
exit5      datetime64[ns]
exit6      datetime64[ns]
dtype: object

In [10]:
reopen_exit_date_df['days'] = np.nan

In [11]:
reopen_exit_date_df.head(20)

,reopen1,reopen2,reopen3,reopen4,reopen5,reopen6,exit1,exit2,exit3,exit4,exit5,exit6,days
0,2020-04-06,NaT,NaT,NaT,NaT,NaT,2019-11-26,NaT,NaT,NaT,NaT,NaT,NaN
1,2021-02-05,NaT,NaT,NaT,NaT,NaT,2020-04-07,NaT,NaT,NaT,NaT,NaT,NaN
2,2019-01-11,NaT,NaT,NaT,NaT,NaT,2018-06-17,NaT,NaT,NaT,NaT,NaT,NaN
3,2020-02-28,NaT,NaT,NaT,NaT,NaT,2019-12-05,NaT,NaT,NaT,NaT,NaT,NaN
4,2020-08-04,NaT,NaT,NaT,NaT,NaT,2020-03-09,NaT,NaT,NaT,NaT,NaT,NaN
5,2020-02-07,2019-11-05,2019-07-23,2019-05-28,NaT,NaT,2019-12-10,2019-08-27,2019-05-28,2019-05-28,NaT,NaT,NaN
6,2020-01-10,NaT,NaT,NaT,NaT,NaT,2019-09-27,NaT,NaT,NaT,NaT,NaT,NaN
7,2020-08-26,2019-09-23,NaT,NaT,NaT,NaT,2020-01-21,2019-09-10,NaT,NaT,NaT,NaT,NaN
8,2020-03-10,NaT,NaT,NaT,NaT,NaT,2020-03-06,NaT,NaT,NaT,NaT,NaT,NaN
9,2020-09-15,2019-02-12,NaT,NaT,NaT,NaT,2019-07-12,2019-07-12,2018-12-04,NaT,NaT,NaT,NaN
10,2019-08-01,NaT,NaT,NaT,NaT,NaT,2019-07-11,NaT,NaT,NaT,NaT,NaT,NaN
11,2019-04-25,NaT,NaT,NaT,NaT,NaT,2018-10-26,NaT,NaT,NaT,NaT,NaT,NaN
12,2020-10-13,2019-11-01,NaT,NaT,NaT,NaT,2020-08-10,2019-09-12,NaT,NaT,NaT,NaT,NaN
13,2020-12-01,2019-07-22,NaT,NaT,NaT,NaT,2020-09-11,2019-01-28,NaT,NaT,NaT,NaT,NaN
14,2018-11-19,NaT,NaT,NaT,NaT,NaT,2018-08-27,NaT,NaT,NaT,NaT,NaT,NaN
15,2020-01-06,NaT,NaT,NaT,NaT,NaT,2019-11-07,NaT,NaT,NaT,NaT,NaT,NaN
16,2020-10-06,2019-05-28,2019-03-07,NaT,NaT,NaT,2019-05-28,2019-05-28,2018-11-29,NaT,NaT,NaT,NaN
17,2020-10-06,2019-03-07,NaT,NaT,NaT,NaT,2019-05-28,2018-11-29,NaT,NaT,NaT,NaT,NaN
18,2019-08-13,2019-08-01,NaT,NaT,NaT,NaT,2019-08-07,2018-06-25,NaT,NaT,NaT,NaT,NaN
19,2021-05-20,2020-10-06,NaT,NaT,NaT,NaT,2021-03-30,2020-01-09,NaT,NaT,NaT,NaT,NaN

In [12]:
for index, row in reopen_exit_date_df.iterrows() :
   # if v != NaT :
    Re1 = reopen_exit_date_df.loc[index, 'reopen1']
    E1 = reopen_exit_date_df.loc[index, 'exit1']
    day_count = Re1 - E1
    reopen_exit_date_df.loc[index, 'Days'] = 'Days' + day_count
    
   # Else

TypeError: can only concatenate str (not "Timedelta") to str

In [ ]:
reopen_exit_date_df.head(20)

In [ ]:
R = reopen_exit_date_df.loc[0, 'reopen1']
E = reopen_exit_date_df.loc[0, 'exit1']
awesome(R, E)

In [ ]:
for index, row in reopen_exit_date_df.iterrows() :
        if row.reopen6 != 'NaT' :
            Days = reopen_exit_date_df.loc[index, 'days']
            R = reopen_exit_date_df.loc[index, 'reopen6']
            E = reopen_exit_date_df.loc[index, 'exit6']
            MoreDays = 0
            awesome(Days, MoreDays, R, E)
            reopen_exit_date_df.loc[index, 'days'] = MoreDays
        
        elif row.reopen5 != 'NaT' :
            Days = reopen_exit_date_df.loc[index, 'days']
            R = reopen_exit_date_df.loc[index, 'reopen5']
            E = reopen_exit_date_df.loc[index, 'exit5']
            MoreDays = 0
            awesome(Days, MoreDays, R, E)
            reopen_exit_date_df.loc[index, 'days'] = MoreDays
            
        elif row.reopen4 != 'NaT' :
            Days = reopen_exit_date_df.loc[index, 'days']
            R = reopen_exit_date_df.loc[index, 'reopen4']
            E = reopen_exit_date_df.loc[index, 'exit4']
            MoreDays = 0
            awesome(Days, MoreDays, R, E)
            reopen_exit_date_df.loc[index, 'days'] = MoreDays
            
        elif row.reopen3 != 'NaT' :
            Days = reopen_exit_date_df.loc[index, 'days']
            R = reopen_exit_date_df.loc[index, 'reopen3']
            E = reopen_exit_date_df.loc[index, 'exit3']
            MoreDays = 0
            awesome(Days, MoreDays, R, E)
            reopen_exit_date_df.loc[index, 'days'] = MoreDays
            
        elif row.reopen2 != 'NaT' :
            Days = reopen_exit_date_df.loc[index, 'days']
            R = reopen_exit_date_df.loc[index, 'reopen2']
            E = reopen_exit_date_df.loc[index, 'exit2']
            MoreDays = 0
            awesome(Days, MoreDays, R, E)
            reopen_exit_date_df.loc[index, 'days'] = MoreDays
        
        else :
            Days = reopen_exit_date_df.loc[index, 'days']
            R = reopen_exit_date_df.loc[index, 'reopen1']
            E = reopen_exit_date_df.loc[index, 'exit1']
            MoreDays = 0
            awesome(Days, MoreDays, R, E)
            reopen_exit_date_df.loc[index, 'days'] = MoreDays