In [7]:
import pandas as pd

In [8]:
exit_notes_df = pd.read_excel('..\Data\TEIS Exit Data for NSS.xlsx', sheet_name='Exit Notes')

In [111]:
#exit_notes_df = exit_notes_df.dropna().reset_index(drop=True)
#exit_notes_df

reopened_df = exit_notes_df[exit_notes_df['Exit Note'].str.contains('reopened', case=False, na=False)].reset_index(drop=True)
reopened_df = reopened_df.drop(columns=['POE', 'DOB', 'Notification Date', 'Initial Eligibility Date', 'Latest IFSP Date'])
reopened_df.head(20)

,Child ID,Initial IFSP Date,Exit Reason,Exit Date,Days from I-IFSP to Exit,Exit Note
0,473474,2020-05-06,618 - Part B eligibility not determined,2020-11-04,182,**LEA county on the Transition page and demogr...
1,469243,2019-10-02,618 - Parent withdraw,2021-02-11,498,02-11-2021 – PWN signed and returned for volun...
2,436339,2019-02-13,618 - Part B eligibility not determined,2021-04-01,778,04/01/2021- File closed business day prior to ...
3,474102,2020-04-09,618 - Part B eligibility not determined,2021-05-10,396,05/10/2021 TPC held then parents withdrew from...
4,476958,2020-08-24,618 - Parent withdraw,2021-05-25,274,05/25/21- parent withdraw Reopened: 08/04/2020...
5,449017,2018-12-12,618 - Attempts to contact unsuccessful,2021-06-01,902,06/01/2021- File closed after 10-day waiting p...
6,468728,2020-02-14,618 - Part B eligible,2020-08-17,185,08/17/2020- File closed. Child determined Part...
7,469200,2019-11-13,618 - Attempts to contact unsuccessful,2020-09-22,314,09/22/2020- unable to contact Reopened: 08/26/...
8,477102,2020-04-14,618 - Parent withdraw,2021-01-20,281,1/20/2021- Parent withdraw from program due to...
9,449847,2019-03-26,618 - Attempts to contact unsuccessful,2020-10-30,584,10/30/2020- File closed due to child turning 3...
10,465503,2019-09-12,618 - Part B eligibility not determined,2020-11-23,438,11/23/2020- File closed day prior to child's 3...
11,444906,2019-06-05,618 - Parent withdraw,2020-11-03,517,11/3/2020- Closed file due to parent withdraw....
12,467228,2019-11-14,618 - Parent withdraw,2020-12-17,399,12/17/2020- File closed after 10-day waiting p...
13,453185,2019-07-29,618 - Attempts to contact unsuccessful,2020-12-28,518,12/28/2020- closed file- see CL for notes. Reo...
14,442088,2018-12-10,618 - Part B eligibility not determined,2021-04-14,856,4/14/2021- Closed file due to child's third bi...
15,472004,2020-02-03,618 - Part B eligibility not determined,2021-04-04,426,4/5/21 - School has had trouble getting in tou...
16,436626,2018-07-17,618 - Part B eligibility not determined,2021-04-09,997,4/9/2021- file closed-age three. TPC took plac...
17,436627,2018-07-17,618 - Part B eligibility not determined,2021-04-09,997,4/9/2021- file closed-age three. TPC took plac...
18,437852,2019-09-09,618 - Not eligible for Part B – Exit with refe...,2021-05-21,620,5/21/2021: Child was not eligible for the LEA ...
19,475485,2020-10-22,618 - Parent withdraw,2021-05-25,215,5/25/2021- Family declined reopening file. See...

In [182]:
#reopened_df['Exit Note'].str.extract('(\d+/)')
reopened_df['Exit Note'].str.findall('(\\d{2}/\\d{2}/\\d{4})')
dates_df = reopened_df['Exit Note'].str.findall('(\\d{2}/\\d{2}/\\d{4})')
dates_df = dates_df.to_frame()

dates_df['total_dates'] = dates_df['Exit Note'].apply(lambda x: len(str(x).split(' ')))
#display(dates_df)

dates_df.total_dates.describe()



#display(reopened_df['Exit Note'].str.findall('Reopened: \\d{2}/\\d{2}/\\d{4}').head(20))
#display(reopened_df['Exit Note'].str.findall('Exit Date: \\d{2}/\\d{2}/\\d{4}').head(20))

reopened_df['reopened_dates'] = reopened_df['Exit Note'].str.findall('Reopened: \\d{2}/\\d{2}/\\d{4}')
reopened_df['exit_dates'] = reopened_df['Exit Note'].str.findall('Exit Date: \\d{2}/\\d{2}/\\d{4}')

reopen_date_df = reopened_df.reopened_dates.to_frame().astype(str)
exit_date_df = reopened_df.exit_dates.to_frame().astype(str)

reopen_date_df = reopen_date_df.reopened_dates.str.split(',', expand=True)
reopen_date_df.columns = ['reopen1', 'reopen2', 'reopen3', 'reopen4', 'reopen5', 'reopen6']
exit_date_df = exit_date_df.exit_dates.str.split(',', expand=True)
exit_date_df.columns = ['exit1', 'exit2', 'exit3', 'exit4', 'exit5', 'exit6']

cols_r = ['reopen1', 'reopen2', 'reopen3', 'reopen4', 'reopen5', 'reopen6']
cols_e = ['exit1', 'exit2', 'exit3', 'exit4', 'exit5', 'exit6']

reopen_date_df[cols_r] = reopen_date_df[cols_r].replace({'\[':'', '\]':'', '\'':'', 'Reopened:':''}, regex=True)
exit_date_df[cols_e] = exit_date_df[cols_e].replace({'\[':'', '\]':'', '\'':'', 'Exit Date:':''}, regex=True)
display(reopen_date_df)
display(exit_date_df)

#df['Address'].str.split(',', expand=True)
#display(reopened_df['Exit Note'].str.findall('Reopened: (\\d{2}/\\d{2}/\\d{4})').head(20))
#display(reopened_df['Exit Note'].str.findall('Exit Date: (\\d{2}/\\d{2}/\\d{4})').head(20))

          reopen1 reopen2 reopen3 reopen4 reopen5 reopen6
0      04/06/2020    None    None    None    None    None
1      02/05/2021    None    None    None    None    None
2      01/11/2019    None    None    None    None    None
3      02/28/2020    None    None    None    None    None
4      08/04/2020    None    None    None    None    None
...           ...     ...     ...     ...     ...     ...
1725   07/28/2020    None    None    None    None    None
1726   02/05/2019    None    None    None    None    None
1727   03/05/2020    None    None    None    None    None
1728   10/25/2018    None    None    None    None    None
1729   07/19/2019    None    None    None    None    None

[1730 rows x 6 columns]

            exit1 exit2 exit3 exit4 exit5 exit6
0      11/26/2019  None  None  None  None  None
1      04/07/2020  None  None  None  None  None
2      06/17/2018  None  None  None  None  None
3      12/05/2019  None  None  None  None  None
4      03/09/2020  None  None  None  None  None
...           ...   ...   ...   ...   ...   ...
1725   04/26/2020  None  None  None  None  None
1726   10/23/2018  None  None  None  None  None
1727   09/17/2019  None  None  None  None  None
1728   05/24/2018  None  None  None  None  None
1729   06/25/2019  None  None  None  None  None

[1730 rows x 6 columns]

In [274]:
reopen_exit_date_df = reopen_date_df.join(exit_date_df)

cols_r_e =  ['reopen1', 'reopen2', 'reopen3', 'reopen4', 'reopen5', 'reopen6',
             'exit1', 'exit2', 'exit3', 'exit4', 'exit5', 'exit6']
reopen_exit_date_df = reopen_exit_date_df.astype('datetime64')
reopen_exit_date_df = reopen_exit_date_df.reindex(columns=['exit1', 'reopen1', 'exit2', 'reopen2', 'exit3', 'reopen3', 'exit4', 'reopen4', 'exit5', 'reopen5', 'exit6', 'reopen6'])
reopen_exit_date_df

ifsp_date = reopened_df[['Child ID', 'Initial IFSP Date', 'Exit Date', 'Days from I-IFSP to Exit']]
ifsp_date[['Initial IFSP Date', 'Exit Date']].astype('datetime64')
reopen_exit_date_df = ifsp_date.join(reopen_exit_date_df)
reopen_exit_date_df.loc[reopen_exit_date_df.exit1 < reopen_exit_date_df['Initial IFSP Date'], ['exit1']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.exit2 < reopen_exit_date_df['Initial IFSP Date'], ['exit2']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.exit3 < reopen_exit_date_df['Initial IFSP Date'], ['exit3']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.exit4 < reopen_exit_date_df['Initial IFSP Date'], ['exit4']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.exit5 < reopen_exit_date_df['Initial IFSP Date'], ['exit5']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.exit6 < reopen_exit_date_df['Initial IFSP Date'], ['exit6']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.reopen1 < reopen_exit_date_df['Initial IFSP Date'], ['reopen1']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.reopen2 < reopen_exit_date_df['Initial IFSP Date'], ['reopen2']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.reopen3 < reopen_exit_date_df['Initial IFSP Date'], ['reopen3']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.reopen4 < reopen_exit_date_df['Initial IFSP Date'], ['reopen4']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.reopen5 < reopen_exit_date_df['Initial IFSP Date'], ['reopen5']] = 'NaT'
reopen_exit_date_df.loc[reopen_exit_date_df.reopen6 < reopen_exit_date_df['Initial IFSP Date'], ['reopen6']] = 'NaT'

reopen_exit_date_df = reopen_exit_date_df[reopen_exit_date_df.exit1.notnull()]
reopen_exit_date_df

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,exit1,reopen1,exit2,reopen2,exit3,reopen3,exit4,reopen4,exit5,reopen5,exit6,reopen6
1,469243,2019-10-02,2021-02-11,498,2020-04-07,2021-02-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
5,449017,2018-12-12,2021-06-01,902,2019-12-10,2020-02-07,2019-08-27,2019-11-05,2019-05-28,2019-07-23,2019-05-28,2019-05-28,NaT,NaT,NaT,NaT
7,469200,2019-11-13,2020-09-22,314,2020-01-21,2020-08-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
9,449847,2019-03-26,2020-10-30,584,2019-07-12,2020-09-15,2019-07-12,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
12,467228,2019-11-14,2020-12-17,399,2020-08-10,2020-10-13,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1721,448232,2018-12-05,2021-01-25,782,2020-10-09,2020-12-30,2019-10-18,2020-09-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1723,441468,2018-08-22,2021-04-21,973,2018-11-26,2019-01-30,2018-10-12,2018-11-06,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1725,469136,2019-10-23,2020-10-23,366,2020-04-26,2020-07-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1726,432033,2018-04-25,2020-12-29,979,2018-10-23,2019-02-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1728,428532,2018-01-26,2020-07-12,898,2018-05-24,2018-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT